<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>ControllerProduct.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>ControllerProduct.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailController</servlet-name>
        <servlet-class>ControllerProduct.detailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>ControllerProduct.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ControllerProduct.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>ControllerProduct.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>ControllerProduct.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>ControllerProduct.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>ControllerProduct.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountController</servlet-name>
        <servlet-class>ControllerUser.ManagerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControllerUser</servlet-name>
        <servlet-class>ControllerUser.AddControllerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerUser</servlet-name>
        <servlet-class>ControllerUser.DeleteControllerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>ControllerProduct.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>ControllerProduct.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>ControllerProduct.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>ControllerProduct.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartController</servlet-name>
        <servlet-class>ControllerProduct.ShowCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>list</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountController</servlet-name>
        <url-pattern>/managera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControllerUser</servlet-name>
        <url-pattern>/adda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerUser</servlet-name>
        <url-pattern>/deletea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/loadproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartController</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
